<!-- https://india.fly.dev/proxy/apps/guru/work -->
<form id="lettertopaperland" class="flex flex-col p-6 space-y-4 rounded-md shadow-lg bg-primary-light" accept-charset="UTF-8" action="https://india.fly.dev/proxy/apps/guru/work" method="POST">
  <label for="name-input" class="font-medium text-gray-700">Name*</label>
  <input id="name-input" type="text" name="name" placeholder="Alan Kay" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary" />

  <label for="email-input" class="font-medium text-gray-700">Email*</label>
  <input id="email-input" type="email" name="email" placeholder="alan@paperland.in" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary" />

  <label for="message-input" class="font-medium text-gray-700">Message*</label>
  <textarea id="message-input" name="message" rows="4" placeholder="There are more contexts than the one that we're in — the one that we think is reality" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary"></textarea>

  <input type="hidden" name="return_url" value="{{ page.url | absolute_url }}" />

  <div class="flex justify-center">
      <div class="h-captcha" data-sitekey="7688737e-8d00-4c1e-acdc-828ee1c02e08"></div>
  </div>

  <button type="submit" class="px-4 py-2 text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary">Submit</button>
</form>

<div class="fixed z-50 hidden bottom-4 right-4" id="toast-good">
  <div class="flex items-center p-4 text-green-700 bg-green-100 border border-green-400 rounded-md shadow-lg">
      <i class="mr-2 fa fa-check-circle"></i>
      <span>Sent! To the desks <a class="text-blue-600 underline" href="/about"><b>@paperland</b></a></span>
      <button class="ml-auto text-gray-500 hover:text-gray-700 focus:outline-none" onclick="document.getElementById('toast-good').style.display = 'none';">X</button>
  </div>
</div>

<div class="fixed z-50 hidden bottom-4 right-4" id="toast-bad">
  <div class="flex items-center p-4 text-red-700 bg-red-100 border border-red-400 rounded-md shadow-lg">
      <i class="mr-2 fa fa-check-circle"></i>
      <span>Check the I am human checkbox!</span>
      <button class="ml-auto text-gray-500 hover:text-gray-700 focus:outline-none" onclick="document.getElementById('toast-bad').style.display = 'none';">X</button>
  </div>
</div>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  if (urlParams.get('sent') == "true") {
      const element = document.getElementById('toast-good');
      element.style.display = 'block'; // Show the element
  } else if (urlParams.get('sent') == "false") {
      const element = document.getElementById('toast-bad');
      element.style.display = 'block'; // Show the element
  }
</script>
