<!-- Show Group A on screens wider than 768px -->
<div class="dojo_section">
  <h2 class="my-8 text-4xl text-center">{{ include.title }}</h2><hr>
  <p class="mt-8">{{ include.text_top }}
  <br>{{ include.text_mid }}</p>
  
  <div class="inner_card_holder">
    <div class="inner_card">
      <img src="{{ include.first_image_path }}" alt="{{ include.first_image_alt }}" class="rounded-md">
      <div>{{ include.first_image_caption }}</div>
    </div>
    
    <div class="inner_card">
      <img src="{{ include.second_image_path }}" alt="{{ include.second_image_alt }}" class="rounded-md">
      <div>{{ include.second_image_caption }}</div>
    </div>
  </div>

  <p>{{ include.text_btm }}</p>
</div>


<!-- Show Group B on screens narrower than 768px -->
<div class="dojo_section_small ">
  <h2 class="my-8 text-4xl text-center">{{ include.title }}</h2><hr>
  <p class="mt-8">{{ include.text_top }}</p>
  
  <div class="inner_card">
    <img src="{{ include.first_image_path }}" alt="{{ include.first_image_alt }}" class="rounded-md">
    <div class="image_caption">{{ include.first_image_caption }}</div>
  </div>

  <p>{{ include.text_mid }}</p>
  
  <div class="inner_card">
    <img src="{{ include.second_image_path }}" alt="{{ include.second_image_alt }}" class="rounded-md">
    <div class="image_caption">{{ include.second_image_caption }}</div>
  </div>

  <p>{{ include.text_btm }}</p>
</div>



<style>
  /* Base styles (apply to all screen sizes) */
  .dojo_section, .dojo_section_small {
    display: none;
  }

  /* Show Group A on screens wider than 768px */
  @media (min-width: 768px) {
    .dojo_section {
      display: block;
      margin-bottom: 10vh;

      padding: 0 1em 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 

      .inner_card_holder {
        display: flex;
      }

      .inner_card {
        padding: 1em;
        width: 40vw;
        margin: 2em;
      }

      div {
        font-size: x-small;
      }
    }
  }

  /* Show Group B on screens narrower than 768px */
  @media (max-width: 767px) {
    .dojo_section_small {
      display: block;
      margin: 5vh 0;

      padding: 0 1em 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 

      .inner_card {
        padding: 1em;
        width: 70vw;
      }

      .image_caption {
        margin: 0 5vw 0;
      }

      div {
        font-size: x-small;
      }
    }
  }

</style>