@use "sass:color";
$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 30%);
$color-core: rgb(255, 153, 51);
$color-border: hsl(18.74, 100%, 50%);
$color-box-background: rgba(254,254,254, 0);
$border-radius: 4px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$sans-serif: sans-serif;

body {
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  counter-reset: sidenote-counter;
  max-width: 64em;

  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

.color-switcher {
    margin-right: auto;
}

figure, figure img.maincolumn { max-width: 55%;
         position: relative;
         -webkit-margin-start: 0;
         -webkit-margin-end: 0;
         margin-bottom: 3em; }

figcaption { float: right;
             clear: right;
             margin-right: -75%;
             position: absolute;
             top: 10px;
             right: 0px;
             margin-top: 0;
             margin-bottom: 0;
             font-size: 1.0rem;
             line-height: 1.6;
             vertical-align: baseline;
             max-width: 70%; }

figure.fullwidth figcaption { float: left; margin-right: 0%; margin-left: 36%; }
@media screen and (max-width: 1024px) {
  figure { max-width: 90%; }
  figcaption, figure.fullwidth figcaption { margin-right: 0%;
                                              padding: 1em;

                                            position: relative;
                                            max-width: none; }}

.tooltip-wrapper {
  background: white;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  width: 400px;
  height: 250px;
  font-size: 0.8em;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  opacity: 0;
  transition: opacity 100ms;

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 0.7) 80%);
    width: 100%;
    height: 75px;
  }
}

time {
  display: block;
  color: inherit;
  margin: 0.5em 0 1em;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: color.mix($color-text, white, 80%);
  padding-top: 1em;
}

// img {
//   max-width: 100%;
//   display: block;
//   margin: 0 auto;
//   max-height: 75vh;
//   border-radius: $border-radius;
// }

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-box-background;
  border-radius: $border-radius;

  p {
    margin: 0;
  }
}

hr {
    border: none;
    color: $color-core;
    overflow: visible;
    text-align: center;
    height: 2px;
}
hr:after {
    content: '☙ —— ›– ✧ –‹ —— ❧ ';
    position: relative;
    top: -14px;
    color: $color-core;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}


a:not(:has(*)) {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  color: $color-primary;
  &:hover {
    color: white !important;
    background: #000000;
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    // content: "↗";
    color: #aaaaaa;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

*:focus {
  background: #ffe8bc !important;
  color: black !important;
}


#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}

.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
}

code {
  background: rgba(255, 232, 188, 0.2);
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}

content a.internal-link {
  border-color: #8b88e6;
  background-color: $color-core;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle {
  &:not(.sidenote-number) {
    display: none;
  }
}

.sidenote {
  float: right;
  clear: right;
  margin-right: -50%;
  width: 40%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $sans-serif;
  font-size: 0.88rem;
  opacity: 0.75;
  vertical-align: baseline;
  position: relative;
  &:before {
    content: counter(sidenote-counter) " ";
    position: relative;
    vertical-align: baseline;
    font-family: $sans-serif;
    font-size: 0.88rem;
    top: -0.5rem;
    opacity: 0.75;
  }
}

.marginnote {
  float: right;
  clear: right;
  margin-right: -50%;
  width: 42%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $sans-serif;
  font-size: 0.88rem;
  opacity: 0.75;
  vertical-align: baseline;
  position: relative;
}

.sidenote-number {
  counter-increment: sidenote-counter;
  &:after {
    content: counter(sidenote-counter);
    position: relative;
    vertical-align: baseline;
    font-family: $sans-serif;
    font-size: 1rem;
    top: -0.5rem;
  }
}

@media (max-width: 76em) {
  .sidenote,
  .marginnote {
    margin-right: -40%;
    width: 30%;
  }
}

@media (max-width: 60em) {
  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote,
  .marginnote {
    display: none;
  }

  .margin-toggle:checked {
    + .sidenote,
    + .marginnote {
      display: block;
      float: left;
      left: 1rem;
      clear: both;
      width: 95%;
      margin: 1rem 2.5%;
      vertical-align: baseline;
      position: relative;
    }
  }

  .margin-toggle {
    border-bottom: thin #444 dotted;
    color: #3498db;
  }

  label {
    cursor: pointer;
  }

  .sidenote-number.sidenote-number {
    border-bottom: none;
  }
}
